{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<section class="image-section">

    {% for i in subjects %}
        {% if i=='Westinghouse Outdoor Power Equipment' %}
            {% print('u havent ordered anything') %}
            <br>
        {% elif i=='SAMSUNG Galaxy' %}
            {%print('your product will ariive at 14th december')%}
            <br>
        {% else %}
            {%print('your product will arive at 9th july')%}
        {% endif %}
    {% endfor %}
  
    </section>

{% endblock %}